*{
	box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: var(--light-purple);
}

body {
  background-color: var(--background);
  color: var(--text-1);
  font-family: var(--font-family-body);
  font-size: var(--font-size-xs);
  line-height: 1.6;
  letter-spacing: 0px;
}

h1
{
  font-family: var(--font-family-headings);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xxl);
}

h2
{
  font-family: var(--font-family-headings);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xl);
}

h3
{
  font-family: var(--font-family-headings);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-l);
}

h4
{
  font-family: var(--font-family-headings-2);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-m);
}


button,
input,
select,
textarea {
  appearance: none;
  border: none;
  background: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}

.u-list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}
.u-sr-only {
  position: absolute !important;
  inline-size: 1px; 
  block-size: 1px; 
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap; 
  border: 0;
  clip-path: inset(50%);
}

.u-noscroll {
  overflow: hidden;
}

.u-highlight {
  color: var(--text-1);
}

.u-intro {
  font-size: var(--text-2xl);
  color: var(--dark);
  font-weight: 600;
}

.u-grid-col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-2xl);
}