
:root {
/* color */
  --footer-backround: #352b82;
  --background: #ececea;
  --bright-purple: #8200db;
  --dark-pink: #e60076;
  --dark-purple: #59168b;
  --extralight-purple: #a9a6e9;
  --light-pink: #fda5d5;
  --light-purple: #f3e8ff;
  --regular-pink: #fb64b6;
  --text-1: #000000;
  --text-2: #0a0a0a;
  --text-3: #364153;
  --text-4: #99a1af;
  --white: #ffffff;

/* typos */
  /* number */
  --font-size-xxs: 0.75rem; /* px* 12px */
  --font-size-xs: 1rem; /* px* 16px */
  --font-size-s: 1.125rem; /* px* 18px */
  --font-size-sm: 1.25rem; /* px* 20px */
  --font-size-m: 1.5rem; /* px* 24px */
  --font-size-l: 2rem; /* px* 32px */
  --font-size-xl: 2.25rem; /* px* 36px */
  --font-size-xxl: 3rem; /*px* 48px * /
  /* string */
  --font-family-body: Alegreya sans;
  --font-family-buttons: Alegreya sans;
  --font-family-headings: Cinzel;
  --font-family-headings-2: Homenaje;
  --font-weight-black:Black;
  --font-weight-bold: Bold;
  --font-weight-bold-italic: Bold Italic;
  --font-weight-extra-bold: ExtraBold;
  --font-weight-italic: Italic;
  --font-weight-regular: Regular;

/* spaces */

  --space-unit: 0.375rem;
  --space-m: 0.75rem;
  --space-section: 1.25rem;
  --space-page: 1.875rem;
  --space-home: 2.5rem;
  --space-menu: 4rem;

/* border */

  --radius-s: 0.6875rem;
  --radius-m: 1.25rem;
}