/* Vendors */
@import "vendors/normalize.css";

/* Utils */
@import "utils/variables.css";

/* Base */
@import "base/main.css";
@import "base/media.css";

/* Base */
@import "layout/header.css";
@import "layout/footer.css";
@import "layout/section.css";
@import "layout/wrapper.css";

/* Components */
@import "components/menu.css";
@import "components/carousel.css";
@import "components/timeline-card.css";
@import "components/hero.css";
@import "components/intro-sections.css";
@import "components/article.css";
@import "components/cta.css";
@import "components/contact.css";
@import "components/glossary.css";